<%- include('../includes/header') %>

<header class="main-header">
    <%- include('../includes/navigation') %>
</header>

<main>
    <form class="product-form" action="/admin/add-product" method="POST">
        
        <div class="wrap w-96 block m-auto py-16">
            <div class="block form-control">
                <label class="block my-2 text-slate-800 font-semibold" for="title">Title</label>
                <input class="bg-slate-50 border w-full border-slate-300 rounded px-3 py-2 shadow-sm" id="title" type="text" name="title">
            </div>
    
            <div class="block form-control">
                <label class="block my-2 text-slate-800 font-semibold" for="imageUrl">Image URL</label>
                <input class="bg-slate-50 border w-full border-slate-300 rounded px-3 py-2 shadow-sm" value="https://picsum.photos/300/400" id="imageUrl" type="url" name="imageUrl">
            </div>
    
            <div class="block form-control">
                <label class="block my-2 text-slate-800 font-semibold" for="description">Description</label>
                <textarea class="bg-slate-50 border w-full border-slate-300 rounded px-3 py-2 shadow-sm" cols="38" rows="5" id="description" type="text" name="description"></textarea>
            </div>
    
            <div class="block form-control">
                <label class="block my-2 text-slate-800 font-semibold" for="price">Price</label>
                <input class="bg-slate-50 w-full border border-slate-300 rounded px-3 py-2 shadow-sm" id="price" type="text" name="price">
            </div>
    
            <div class="block form-control">
                <button class="mt-10 bg-green-800 text-green-200 border border-slate-300 rounded-lg px-4 font-semibold py-1" type="submit">Add Product</button>
            </div>
            
        </div>
    </form>
</main>

<%- include('../includes/footer') %>