<form action="/cart" method="POST">
    <input type="hidden" name="productId" value="<%=product.id%>" />
    <button class="bg-slate-200 rounded-sm py-2 px-2 font-semibold text-sm">
        Add to cart
    </button>
</form>