

<footer>
    <div class="text-center py-10 bg-slate-900">
        <p class="text-slate-200 font-light">
            All rights reserved. Built with Javsacript, EJS, NodeJS, Express, and other amazing NodeJS components.
        </p>
    </div>
</footer>

</div>

</body>