<%- include('includes/header') %>

<header class="main-header">
    <%- include('includes/navigation') %>
</header>

<main>
    <h1>Page not found!s</h1>
</main>
    
<%- include('includes/footer') %>
