<%- include('../includes/header') %>

<header class="main-header">
    <%- include('../includes/navigation') %>
</header>

<main>
    <h1>Checkout</h1>
</main>
    
<%- include('../includes/footer') %>
